{% extends 'base.html' %}

{% block title %}Zaměstananci{% endblock %}

{% block content %}
    <h1>Zaměstannci</h1>
    <div class="row bg-dark p-3">
    {% for zamestnanec in zamestnanci %}
        <div class="col-lg-2 col-md-4">
            <img src="{{ zamestnanec.fotka.url }}"
                 alt="Fotka: {{ zamestnanec.nazev }}"
                 class="img-fluid rounded">
            <p><a href="{% url 'zamestnanec_detail' zamestnanec.id %}">{{ zamestnanec.jmeno|first }}. {{ zamestnanec.prijmeni }}</a></p>
        </div>
    {% endfor %}
    </div>
{% endblock %}